.screen-selector {
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
  background: var(--toolbar-color-hex);
  border-right: var(--border-light);
}

.screen-selector-screen-container {
  background: black;
  width: 64px;
  height: 64px;
  border: var(--border-light);
}
