.editor-container {
    display: flex;
    flex-direction: column;
}

.attributes-panel {
    background-color: var(--panel-color-hex);
    width: 320px;
    min-width: 320px;
    padding: 12px;
    border-left: var(--border-light);
}

.stage-container {
    background-color: var(--editor-background-color-hex);
}

.stage-container > div {
    height: 100%;
}

.toolbar {
    background-color: var(--toolbar-color-hex);
    padding: 8px 12px;
    border-bottom: var(--border-light);
}

.popup-menu-item {
    padding: 6px 24px;
    cursor: pointer;
}

.popup-menu-item:hover {
    background: var(--panel-color-hex);
}

.attribute-section {
    padding-bottom: 12px;
    border-bottom: var(--border-light);
}

.swatch {
    width: 96px;
    height: 56px;
    border-radius: 6px;
    position: relative;
    background-image:
            linear-gradient(45deg, #d1d1d1 25%, transparent 25%),
            linear-gradient(-45deg, #d1d1d1 25%, transparent 25%),
            linear-gradient(45deg, rgba(0,0,0,0.06) 25%, transparent 25%),
            linear-gradient(-45deg, rgba(0,0,0,0.06) 25%, transparent 25%);
    background-size: 16px 16px;
    background-position: 0 0, 8px 0, 8px -8px, 0 8px;
}

.color-picker.react-colorful {
    height: 224px;
    width: 200px;
    padding: 12px;
    gap: 4px;
}

.color-picker .react-colorful__saturation-pointer {
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.color-picker .react-colorful__hue-pointer,
.color-picker .react-colorful__alpha-pointer {
    width: 8px;
    border-radius: 2px;
}

.color-picker .react-colorful__saturation,
.color-picker .react-colorful__last-control {
    border-radius: 0;
}

.color-picker .react-colorful__last-control {
    margin-top: 8px;
}
