.logs-modal-root {
    background-color: black;
}

.logs-container {
    min-height: 25vh;
    max-height: 75vh;
    padding: 16px;
    overflow-y: auto;
    border-bottom: var(--border-light);
    font-size: 11px;
    font-family: monospace;
}
