:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --editor-background-color-hex: #2f3336;
    --toolbar-color-hex: #202223;
    --panel-color-hex: #17181a;
    --text-color-light-hex: #ecdfcc;
    --text-color-dark-hex: #0f0f0f;

    --editor-background-color-values: 51, 51, 51;
    --panel-color-values: 22, 22, 22;

    --gradient-stop1: #bd49b7;
    --gradient-stop2: #4956e4;

    --border-light: 1px solid rgba(255, 255, 255, 0.2);

    color-scheme: normal;
    color: var(--text-color-light-hex);
    background-color: var(--editor-background-color-hex);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Inter";
    src: url("assets/Inter-VariableFont_opsz,wght.ttf")
        format("truetype-variations");
    font-weight: 100 900;
}

body {
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Inter, sans-serif;
    font-size: 13px;
}

* {
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
}

/* utilities */
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
.flex-grow, .flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-grow-4 { flex-grow: 4; }
.flex-auto { flex: auto; }
.flex-shrink { flex-shrink: 1; }
.justify-center { justify-content: center; }
.justify-space-between { justify-content: space-between; }
.align-center { align-items: center; }
.align-stretch { align-items: stretch; }
.gap-4 { gap: 4px; }
.gap-8 { gap: 8px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }
.gap-24 { gap: 24px; }
.fill { width: 100%; height: 100%; }
.fill-x { width: 100%; }
.fill-y { height: 100%; }
.no-overflow { overflow: hidden; }
.relative { position: relative; }
.pointer { cursor: pointer; }

/* components */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a, a:visited {
    color: var(--gradient-stop1);
    text-decoration: none;
}

h1, h2, h3, h4, h5 { margin: 0; }

h5 { font-size: 1em; }

button {
    background-image: linear-gradient(to bottom right, var(--gradient-stop1), var(--gradient-stop2));
    color: var(--text-color-light-hex);
    border: 0;
    border-radius: 4px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
}

input,
select,
textarea {
    background: var(--editor-background-color-hex);
    border: var(--border-light);
    border-radius: 4px;
    padding: 2px;
    color: var(--text-color-light-hex);
}

input:focus {
    outline: none;
    border-color: var(--gradient-stop1);
}

.popup-content {
    border: var(--border-light);
    overflow: hidden;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--text-color-light-hex) #0000;
    animation: spin 1s infinite linear;
}
.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}
.loader::before {
    border-color: var(--gradient-stop1) #0000;
    animation: inherit;
    animation-duration: .5s;
    animation-direction: reverse;
}
.loader::after {
    margin: 8px;
}
@keyframes spin {
    100%{transform: rotate(1turn)}
}


/*** experimental ***/
/*.scanlines {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/
/*.scanlines:before, .scanlines:after {*/
/*    display: block;*/
/*    pointer-events: none;*/
/*    content: "";*/
/*    position: absolute;*/
/*}*/
/*.scanlines:before {*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    z-index: 2147483649;*/
/*    background: rgba(0, 0, 0, 0.2);*/
/*    opacity: 0.75;*/
/*    -webkit-animation: scanline 6s linear infinite;*/
/*    animation: scanline 6s linear infinite;*/
/*}*/
/*.scanlines:after {*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    z-index: 2147483648;*/
/*    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.2) 51%);*/
/*    background-size: 100% 4px;*/
/*    -webkit-animation: scanlines 1s steps(60) infinite;*/
/*    animation: scanlines 1s steps(60) infinite;*/
/*}*/

/*!* ANIMATE UNIQUE SCANLINE *!*/
/*@-webkit-keyframes scanline {*/
/*    0% {*/
/*        transform: translate3d(0, 200000%, 0);*/
/*    }*/
/*}*/
/*@keyframes scanline {*/
/*    0% {*/
/*        transform: translate3d(0, 200000%, 0);*/
/*    }*/
/*}*/
/*@-webkit-keyframes scanlines {*/
/*    0% {*/
/*        background-position: 0 50%;*/
/*    }*/
/*}*/
/*@keyframes scanlines {*/
/*    0% {*/
/*        background-position: 0 50%;*/
/*    }*/
/*}*/
